<div class="container pace-container">
  <form class="form-horizontal">
    <div class="row-fluid ">
      <div class="span12 pace-calc-name">
        <div class="display-5 m-4">Pace++ Calculator</div>
        <div class="span12">
          <i class="bi bi-caret-left-square display-5 m-3" (click)="dateMove(-1)"></i>
          <span class="span2"></span>
          <button type="button" class="btn-lg btn-lg-warning load-data" (click)="logInWithGoogle()">
            {{selectedDate}}
          </button>
          <span class="span2"></span>
          <i class="bi bi-caret-right-square display-5 m-3" (click)="dateMove(1)"></i>
        </div>
        <!-- <h3>Calculator</h3> -->
        <!-- <p class="sub-text">
          Any two to calculate the third
        </p> -->
      </div>
    </div>
    <div class="control-group">
      <label class="display-6">Time<span class="calculate-reset"><a id="time-reset"
            (click)="timeReset()">Reset</a></span></label>
      <div [ngClass]="calcType == 'Time' ? 'calcUse' : ''" class="form-control form-control-lg">
        <span class="hms-box">
          <div class="time-box">
            <div>
              <label>hrs</label>
            </div>
            <div>
              <input id="tth" class="input-time-val" [(ngModel)]="timeHours" placeholder="" type="number"
                name="time-hours" min="0" max="59" value="{{ timeHours }}" />
            </div>
          </div>
          <div class="time-box">
            <div>
              <label>min</label>
            </div>
            <div>
              <input id="ttm" class="input-time-val" [(ngModel)]="timeMinutes" type="number" name="time-minutes" min="0"
                max="59" value="{{ timeMinutes }}" />
            </div>

          </div>
          <div class="time-box">
            <div>
              <label>sec</label>
            </div>
            <div>
              <input id="tts" class="input-time-val" [(ngModel)]="timeSeconds" type="number" name="time-seconds" min="0"
                max="59" value="{{ timeSeconds }}" />
            </div>
          </div>
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="display-6">Distance
        <span class="calculate-reset"><a id="dist-reset" (click)="distReset()">Reset</a></span></label>
      <div [ngClass]="calcType == 'Distance' ? 'calcUse' : ''" class="form-control form-control-lg ">
        <label><input [(ngModel)]="distance" type="number" name="distance" min="0" max="10000" value="{{ distance }}"
            class="text-center distance-input" /></label>
        <select name="distance-type" class="pace-selectbox" [(ngModel)]="distanceType"
          (change)="checkStandardDistances($event)">
          <option class="text-center" *ngFor="let option of DISTANCE_OPTIONS; let i = index" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="display-6">Pace<span class="calculate-reset"><a id="pace-reset"
            (click)="paceReset()">Reset</a></span></label>
      <div [ngClass]="calcType == 'Pace' ? 'calcUse' : ''" class="form-control form-control-lg">
        <span class="hms-box">
          <div class="time-box">
            <div>hrs</div>
            <div>
              <input class="input-time-val" [(ngModel)]="paceHours" type="number" name="pace-hours" min="0" max="59"
                value="{{ paceHours }}" />
            </div>
          </div>
          <div class="time-box">
            <div>min</div>
            <div>
              <input class="input-time-val" [(ngModel)]="paceMinutes" type="number" name="pace-minutes" min="0" max="59"
                value="{{ paceMinutes }}" />
            </div>
          </div>
          <div class="time-box">
            <div>sec</div>
            <div>
              <input class="input-time-val" [(ngModel)]="paceSeconds" type="number" name="pace-seconds" min="0" max="59"
                value="{{ paceSeconds }}" />
            </div>
          </div>
          <div class="time-box">
            <select [(ngModel)]="paceType" (change)="convertPace($event)" name="pace-type" class="pace-selectbox"
              value="{{ paceType }}">
              <option value="km">per Km</option>
              <option value="miles" selected>per Mile</option>
            </select>
          </div>
        </span>
      </div>
    </div>
    <div [ngClass]="validForm ? 'message' : 'errors' ">
      <ul>
        {{
        errorMessage
        }}
      </ul>
    </div>
    <div>
      <div class="span12 display-6">
        <button id="calc-pace" type="button" class="btn-lg btn-lg-warning" (click)="calculate()">
          Calculate
        </button>
        <span id="calc-reset" class="calculate-reset"><a (click)="reset()">Reset</a></span>
      </div>
    </div>
  </form>
</div>
<div id="date-version">23053101</div>