<div class="container">
  <form class="form-horizontal">
    <div class="row-fluid">
      <div class="span12">
        <h3>Calculator</h3>
        <!-- <p class="sub-text">
          Enter any two to calculate pace, time or distance
        </p> -->
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"
        >Time<span class="calculate-reset"
          ><a id="time-reset" (click)="timeReset()">Reset</a></span
        ></label
      >
      <div
        [ngClass]="calcType == 'Time' ? 'calcUse' : ''"
        class="form-control form-control-sm"
      >
        <label
          ><input
            class="input-time-val"
            [(ngModel)]="timeHours"
            placeholder=""
            type="number"
            name="time-hours"
            min="0"
            max="59"
            value="{{ timeHours }}"
          />-hrs</label
        >
        <label
          ><input
            class="input-time-val"
            [(ngModel)]="timeMinutes"
            type="number"
            name="time-minutes"
            min="0"
            max="59"
            value="{{ timeMinutes }}"
          />-min</label
        >
        <label
          ><input
            class="input-time-val"
            [(ngModel)]="timeSeconds"
            type="number"
            name="time-seconds"
            min="0"
            max="59"
            value="{{ timeSeconds }}"
          />-sec</label
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"
        >Distance
        <span class="calculate-reset"
          ><a id="dist-reset" (click)="distReset()">Reset</a></span
        ></label
      >
      <div
        [ngClass]="calcType == 'Distance' ? 'calcUse' : ''"
        class="form-control form-control-sm"
      >
        <label
          ><input
            [(ngModel)]="distance"
            type="number"
            name="distance"
            min="0"
            max="10000"
            value="{{ distance }}"
        /></label>
        <select
          name="distance-type"
          class="pace-selectbox"
          [(ngModel)]="distanceType"
          (change)="checkStandardDistances($event)"
        >
          <option
            *ngFor="let option of DISTANCE_OPTIONS; let i = index"
            [value]="option"
          >
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"
        >Pace<span class="calculate-reset"
          ><a id="pace-reset" (click)="paceReset()">Reset</a></span
        ></label
      >
      <div
        [ngClass]="calcType == 'Pace' ? 'calcUse' : ''"
        class="form-control form-control-sm"
      >
        <label
          ><input
            class="input-time-val"
            [(ngModel)]="paceHours"
            type="number"
            name="pace-hours"
            min="0"
            max="59"
            value="{{ paceHours }}"
          />-hrs</label
        >
        <label
          ><input
            class="input-time-val"
            [(ngModel)]="paceMinutes"
            type="number"
            name="pace-minutes"
            min="0"
            max="59"
            value="{{ paceMinutes }}"
          />-min</label
        >
        <label
          ><input
            class="input-time-val"
            [(ngModel)]="paceSeconds"
            type="number"
            name="pace-seconds"
            min="0"
            max="59"
            value="{{ paceSeconds }}"
          />-sec</label
        >
        <select
          [(ngModel)]="paceType"
          (change)="convertPace($event)"
          name="pace-type"
          class="pace-selectbox"
          value="{{ paceType }}"
        >
          <option value="km">per Km</option>
          <option value="miles" selected>per Mile</option>
        </select>
      </div>
    </div>
    <div class="errors">
      <ul>
        {{
          errorMessage
        }}
      </ul>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <button
          id="calc-pace"
          type="button"
          class="btn btn-warning"
          (click)="calculate()"
        >
          Calculate {{ calcType }}
        </button>
        <span id="calc-reset" class="calculate-reset"
          ><a (click)="reset()">Reset</a></span
        >
      </div>
    </div>
  </form>
</div>
