/* Add application styles & imports to this file! */

:root {
  --container-bg: #5d447e;
  --font-color: aquamarine;
  --error-color:  rgb(253, 103, 103);
  --hover-color: grey;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.load-data {
  font-size: 2rem;
  background-color: #daa520;
  border-radius: 0.5rem;
  line-height: 2rem;
}

label {
  user-select: none;
}
.calculate-btn {
  border-radius: 20%;
}
.calculate-reset {
  border-radius: 0%;
  padding-left: 1rem;
  margin-left: 0rem;
}
.container {
  color: var(--font-color);
  display: flex;
  --flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--container-bg);
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.container h3 {
margin-bottom: 0;
}

.pace-selectbox {
  margin-left: 0.5rem;
  font-weight: bold;
}

.distance-input{
  font-weight: bold;
}

#time-reset:hover,
#dist-reset:hover,
#pace-reset:hover,
#calc-reset:hover {
  cursor: pointer;
  color: rgb(253, 103, 103);
}

.errors {
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: var(--error-color);
  height: 2rem;
}
.message {
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: var(--font-color);
  height: 2rem;
}

.input-time-val {
  width: 2.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.calcUse {
  background-color: goldenrod;
}

.control-group {
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 2rem;
}

#calc-reset,
#time-reset,
#dist-reset,
#pace-reset {
  background-color: var(--hover-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}

.display-6{
  line-height: 1.5;
}

#calc-reset {
  margin-left: 2rem;
}

.pace-calc-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1rem;
  text-align: center;
}

 /* @media (min-width: 576px){
.pace-container {
    max-width: 1080px;
}
}  */

.time-box {
  display: grid;
  justify-items: center;
}

.hms-box{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  
}

#calc-pace{
  background-color:  goldenrod;
  border-radius: 0.5rem;

}
#date-version{
  display: flex;
  justify-content: center;
}